*{
  margin: 0;
  background-color: black;
  color: white;
}

.app-container{
  display: flex;
  flex-direction: column;
  gap:2rem;
  padding: 1rem;
}
table{
  border-collapse: collapse;
  width:100%
}

th,td{
  font-size: 1.5rem;
  padding: 1rem;
  color: white;
  border: 1px solid white;
  text-align:left;
}

th{
  background-color: rgb(65, 59, 59);
}

td{
  background-color:rgb(16, 41, 16);
}

td:last-child{
  width:15vw;
}

input{
  background-color:white;
  color:black;
  margin-right:1rem;
  margin-left:0.5rem;
  padding: 0.3rem;
  font-size: 1rem;
}

.submit-btn{
  border: 1px solid white;
  font-size: 1rem;
  padding: 0.3rem;
  cursor:pointer;
}

.submit-btn:hover{
  color: black;
  background-color:white;
}
